<!-- <div class="container mb-5 mt-5">
    <h1 class="bg-warning | text-center">{{title}}</h1>
  </div>
  
  <app-hotel-list></app-hotel-list> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-table></app-table> -->

<!-- <app-navigation></app-navigation> -->
<!-- /------------------------------------------------------------/ -->

<!-- <app-journal></app-journal> -->
 

<!-- <app-left-sidebar (onTogglesideNav)="onToggleSideNav($event)"></app-left-sidebar>
<app-left-main [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-left-main> -->


<!-- <app-journale></app-journale> -->
<!-- <app-ppab></app-ppab> -->